#!/bin/bash

. "$HOME/.bash/path_env"

export XENVIRONMENT="$HOME/.Xresources"

export LESSHISTFILE="-"
# export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority"

export QT_QPA_PLATFORMTHEME="qt5ct"
export LIBVA_DRIVER_NAME=vdpau
export VDPAU_DRIVER=nvidia
